body {
	font-family: 'Roboto', sans-serif;
	background-color: #263238;
}

html, body {
  width: 100%; 
  height:100%; 
  overflow:hidden;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

video {
	position: absolute;
	top: 50%; 
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto;
	z-index: -1000; 
	overflow: hidden;
}

select, button {
	padding: 10px;
}

select {
	background-color: rgba(0,0,0,0.3);
	color: white;
}

#hud.off .inputs {
	transition: transform 0.3s;
	transition-timing-function: ease-in;
	transform: translateY(500px);
}

#hud.off .logo {
	transition: transform 0.3s;
	transition-timing-function: ease-in;
	transform: translateY(-500px);
}

.logo {
	transition: transform 0.3s;
	transition-timing-function: ease-out;
	opacity: 0.8;
}

.inputs {
	transition: transform 0.3s;
	transition-timing-function: ease-out;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}

.inline-block {
	display: inline-block;
	min-width: 280px;
}

#snap {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:block;
	width: 100%;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	transition: all 0.5s;
	transform: scale(1);
}

#snap:hover {
	background-color:#5cbf2a;
	transition: all 0.5s;
	transform: scale(1.1);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#snap:active {
	position:relative;
	top:1px;
}

#hud div {
	text-align: center;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
	height: auto;
}



